{% extends 'blog/nav.html' %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block page %} Contact {% endblock %}

{% block link %}
    <a href="{% url 'greeting:contact' %}">Contact</a>
{% endblock link %}

{% block content %}

    <style>
        li {
            margin: 10px 0;
        }
        .cl {
            color: black;
        }
    </style>

    <body>

    <div class="container align-items-center">
        <div class="row no-gutters">
            <div class="card col-md-8 mb-3 mx-auto mt-3 ">
            <div class="card-body">
                <p class="card-text ">
                    <div style="text-align: center;">
                        <strong>LinkedIn</strong></br>
                        <a href="https://www.linkedin.com/in/damirtemir/" target="_blank"><i class="fa fa-linkedin fa-2x cl"></i></a></br>
                        <strong>Email</strong></br>
                        <a href="mailto:damir@temir.dev" target="_blank"><i class="fa fa-envelope fa-2x cl"></i></a></br>
                        <strong>Medium</strong></br>
                        <a href="https://damirtemir.medium.com/" target="_blank"><i class="fab fa-medium-m fa-2x cl"></i></a></br>
                        <strong>Telegram</strong></br>
                        <a href="https://t.me/ChloeMax" target="_blank"><i class="fa fa-telegram fa-2x cl"></i></a></br>
                        <strong>Stack Overflow</strong></br>
                        <a href="https://stackoverflow.com/users/13912197/damir-temir" target="_blank"><i class="fa fa-stack-overflow fa-2x cl"></i></a></br>
                        <strong>HackerRank</strong></br>
                        <a href="https://www.hackerrank.com/dtemir" target="_blank"><i class="fab fa-hackerrank fa-2x cl"></i></a></br>
                        <strong>LeetCode</strong></br>
                        <a href="https://leetcode.com/dtemir/" target="_blank"><i class="fas fa-laptop-code fa-2x cl"></i></a></br>
                    </div>
                </p>
            </div>
            </div>

      </div>
    </div>

    </body>
{% endblock content %}

