{% extends 'blog/nav.html' %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block page %} Contact {% endblock %}

{% block link %}
    <a href="{% url 'greeting:contact' %}">Contact</a>
{% endblock link %}

{% block content %}

    <style>
        li {
            margin: 10px 0;
        }
        .cl {
            color: black;
        }
    </style>

    <body>

    <div class="container align-items-center">
        <div class="row no-gutters">
            <div class="card col-md-8 mb-3 mx-auto mt-3 ">
            <div class="card-body">
                <p class="card-text ">
                <div style="text-align: center;">
                    <ul style="list-style-type: none;">
                        <li><a href="https://www.linkedin.com/in/damirtemir/"><i class="fa fa-linkedin fa-2x cl"></i></a></li>
                        <li><a href="https://t.me/ChloeMax"><i class="fa fa-telegram fa-2x cl"></i></a></li>
                        <li><a href="mailto:damir@temir.dev"><i class="fa fa-envelope fa-2x cl"></i></a></li>
                        <li><a href="https://stackoverflow.com/users/13912197/damir-temir"><i class="fa fa-stack-overflow fa-2x cl"></i></a></li>
                        <li><a href="https://www.hackerrank.com/dtemir"><i class="fab fa-hackerrank fa-2x cl"></i></a></li>
                        <li><a href="https://leetcode.com/dtemir/"><i class="fas fa-laptop-code fa-2x cl"></i></a></li>
                        <li><a href="https://medium.com/@maxdimplicit"><i class="fab fa-medium-m fa-2x cl"></i></a></li>
                         <li><a href="https://app.slack.com/client/T9P84237B/C9QKWLUQN/user_profile/U01A14RL1F1"><i class="fab fa-slack fa-2x cl"></i></a></li>
                    </ul>
                </div>
                </p>

                <p class="text-muted"></p>
            </div>
            </div>

      </div>
    </div>

    </body>
{% endblock content %}

