{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
		<script src="https://use.fontawesome.com/0a655fb0cc.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/237/man-raising-hand-type-1-2_1f64b-1f3fb-200d-2642-fe0f.png">
        <title>Damir Temir</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'greeting/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/popup/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/flaticon/flaticon.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'greeting/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/css/responsive.css' %}">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'greeting:index' %}"><img src="{% static 'greeting/img/logo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{% url 'greeting:index' %}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'greeting:resume' %}">Resume</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'blog:home' %}">Blog</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'greeting:contact' %}">Contact</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="{% static 'greeting/img/me.jpg' %}" alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hi! My name is</h6>
									<h3>Damir Temir</h3>
									<h4>CS Student</h4>
									<p></p>
									<ul class="list basic_info">
										<li><i class="lnr lnr-calendar-full"></i> January 17th, 2001</li>
										<li><i class="lnr lnr-phone-handset"></i> +1 (312) 478-7890</a></li>
										<li><i class="lnr lnr-envelope"></i> damir@temir.dev</li>
										<li><i class="lnr lnr-home"></i> Springfield, IL</li>
									</ul>
									<ul class="list personal_social">
										<li><a href="https://www.linkedin.com/in/damirtemir/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="https://github.com/dtemir" target="_blank"><i class="fa fa-github"></i></a></li>
										<li><a href="https://medium.com/@maxdimplicit" target="_blank"><i class="fa fa-medium"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>I am a Computer Science student at the University of Illinois Springfield.
								I work my way to becoming a Data Scientist. I am also interested in Python/Django Web-Development.
								For example, you are currently viewing my project - Django blogging application.
								This website is running on Heroku, fetching all static files from AWS S3 Bucket, and using PostgreSQL for the database.
								You can learn about me in my <a href="{% url 'greeting:resume' %}">resume</a>
							</p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
										<a href="{% url 'blog:category' 'College' %}">
											<i class="lnr lnr-rocket"></i>
										</a>
        								<h4>5</h4>
        								<p>Courses Taken</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
										<a href="{% url 'blog:category' 'Projects' %}">
											<i class="lnr lnr-book"></i>
										</a>
        								<h4>2</h4>
        								<p>Total Projects</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
										<a href="{% url 'blog:category' 'Travelling'%}">
											<i class="lnr lnr-earth"></i>
										</a>
        								<h4>10</h4>
        								<p>Countries Visited</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>Python <span class="counter">60</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Django <span class="counter">30</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Java <span class="counter">40</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>SQL <span class="counter">40</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Git <span class="counter">30</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->

		<!--================Home Gallery Area =================-->
        <section class="home_gallery_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>My latest blog posts</h2>
        		</div>
        		<div class="isotope_fillter">
        			<ul class="gallery_filter list">
						<li class="active" data-filter="*"><a href="#">All</a></li>
						<li data-filter=".brand"><a href="#">Projects</a></li>
						<li data-filter=".coding"><a href="#">Coding</a></li>
						<li data-filter=".design"><a href="#">General</a></li>
						<li data-filter=".creative"><a href="#">College</a></li>
						<li data-filter=".manipul"><a href="#">Travelling</a></li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
				<div class="gallery_f_inner row imageGallery1">
        			{% for post in projects_list%}
					<div class="col-lg-4 col-md-4 col-sm-6 brand">
						<div class="h_gallery_item">
						{% if post.thumbnail_image %}
						<div class="g_img_item">
							<img class="img-fluid" src="{{ post.thumbnail_image.url }}">
						</div>
						{% endif %}
						<div class="g_item_text">
							<a href="{% url 'blog:post_detail' post.slug %}"><h4>{{ post.title }}</h4></a>
						</div>
        				</div>
        			</div>
					{% endfor %}
					{% for post in coding_list%}
					<div class="col-lg-4 col-md-4 col-sm-6 coding">
						<div class="h_gallery_item">
						{% if post.thumbnail_image %}
						<div class="g_img_item">
							<img class="img-fluid" src="{{ post.thumbnail_image.url }}">
						</div>
						{% endif %}
						<div class="g_item_text">
							<a href="{% url 'blog:post_detail' post.slug %}"><h4>{{ post.title }}</h4></a>
						</div>
        				</div>
        			</div>
					{% endfor %}
        			{% for post in general_list%}
					<div class="col-lg-4 col-md-4 col-sm-6 design">
						<div class="h_gallery_item">
						{% if post.thumbnail_image %}
						<div class="g_img_item">
							<img class="img-fluid" src="{{ post.thumbnail_image.url }}">
						</div>
						{% endif %}
						<div class="g_item_text">
							<a href="{% url 'blog:post_detail' post.slug %}"><h4>{{ post.title }}</h4></a>
						</div>
        				</div>
        			</div>
					{% endfor %}
        			{% for post in college_list%}
					<div class="col-lg-4 col-md-4 col-sm-6 creative">
						<div class="h_gallery_item">
						{% if post.thumbnail_image %}
						<div class="g_img_item">
							<img class="img-fluid" src="{{ post.thumbnail_image.url }}">
						</div>
						{% endif %}
						<div class="g_item_text">
							<a href="{% url 'blog:post_detail' post.slug %}"><h4>{{ post.title }}</h4></a>
						</div>
        				</div>
        			</div>
					{% endfor %}
        			{% for post in travelling_list%}
					<div class="col-lg-4 col-md-4 col-sm-6 manipul">
						<div class="h_gallery_item">
						{% if post.thumbnail_image %}
						<div class="g_img_item">
							<img class="img-fluid" src="{{ post.thumbnail_image.url }}">
						</div>
						{% endif %}
						<div class="g_item_text">
							<a href="{% url 'blog:post_detail' post.slug %}"><h4>{{ post.title }}</h4></a>
						</div>
        				</div>
        			</div>
					{% endfor %}
				</div>
        		<div class="more_btn">
        			<a class="main_btn" href="#">Load More Items</a>
        		</div>
        	</div>
        </section>
        <!--================End Home Gallery Area =================-->
        
        <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>Sep 2020 - Present</p>
										</div>
										<div class="media-body">
											<h4>Center for Online Learning and Research (COLRs)</h4>
											<p>Accessibility Student Worker<br />Springfield, IL</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>Aug 2019 - Present <br /></p>
										</div>
										<div class="media-body">
											<h4>University of Illinois Springfield</h4>
											<p>Honors Student<br />Springfield, IL</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End My Tabs Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>Are you looking for a teammate to work on an open-source project? If yes, make sure to contact me.</p>

        				</aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Let's talk</h3>
        					</div>
							<ul class="list personal_social">
										<li><a href="https://www.linkedin.com/in/damirtemir/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
										<li><a href="https://t.me/ChloeMax" target="_blank"><i class="fa fa-telegram fa-2x"></i></a></li>
										<li><a href="mailto:damir@temir.dev" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></li>
							</ul>
        				</aside>
        			</div>
        		</div>
				<br />
				<br />
				<br />
				<div class="offset-md-2" style="bottom: 0">

				</div>

        	</div>

			<div class="container" style="color: #777777;"><small><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Front-End template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></div>
        </footer>

        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'greeting/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'greeting/js/popper.js' %}"></script>
        <script src="{% static 'greeting/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'greeting/js/stellar.js' %}"></script>
        <script src="{% static 'greeting/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'greeting/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'greeting/js/mail-script.js' %}"></script>
        <script src="{% static 'greeting/js/theme.js' %}"></script>
    </body>
</html>