{% extends 'blog/nav.html' %}
{% load static %}

{% block title %} Resume {% endblock %}

{% block page %} Resume {% endblock %}

{% block link %}
    <a href="{% url 'greeting:resume' %}">Resume</a>
{% endblock link %}

{% block content %}

    <body>

    <div class="container align-items-center">
        <div class="row no-gutters">
            <div class="card col-md-8 mb-3 mx-auto mt-3 ">
            <div class="card-body">
                <p class="text-muted">
                    <i class="lnr lnr-user"></i> Damir Temir ~
                    <i class="lnr lnr-home"></i> Springfield, IL ~
                    <i class="lnr lnr-phone-handset"></i> +1 (312) 478-789 ~
                    <i class="lnr lnr-envelope"></i><a href="mailto:damir@temir.dev" target="_blank"> damir@temir.dev</a> ~
                    <a href="https://drive.google.com/file/d/17JyD56qGg9Vo3geZlN3xLuWqT6a4Yc7g/view?usp=sharing" target="_blank">Download</a>
                </p>
                <p class="card-text ">
                    <ul>
                    <li>
                        <strong>Technical Skills:</strong>
                        <table class="table">
                        <tr>
                            <td>Python</td>
                            <td>Linux</td>
                        </tr>
                        <tr>
                            <td>Django Framework & Deployment</td>
                            <td>Java</td>
                        </tr>
                        <tr>
                            <td>MySQL</td>
                            <td>Git</td>
                        </tr>
                        <tr>
                            <td>Problem Solving</td>
                            <td>Data Structures & Algorithms</td>
                        </tr>
                        </table>
                    </li>
                    <li>
                        <strong>Certifications:</strong>
                        <table class="table">
                            <tr>
                                <td>
                                    Harvard's Introductory Course to Computer Science CS50x ~
                                    <u><a href="https://courses.edx.org/certificates/4bcb06e2c4814d1fac973b5948129db9" target="_blank" style="color:black">Credentials</a></u>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    HackerRank: Python ~
                                    <u><a href="https://www.hackerrank.com/certificates/a883e20e5822" target="_blank" style="color:black">Credentials</a></u>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    HackerRank: Java ~
                                    <u><a href="https://www.hackerrank.com/certificates/d196acd62e3e" target="_blank" style="color:black">Credentials</a></u>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    HackerRank: Problem Solving ~
                                    <u><a href="https://www.hackerrank.com/certificates/13cdbd1ff4fa" target="_blank" style="color:black">Credentials</a></u>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <strong>Accomplishments:</strong>
                        <table class="table">
                            <tr>
                                <td>
                                Built a Django blogging application stylized with Bootstrap and deployed to Google Cloud Platform
                                    ~ <u><a href="https://github.com/dtemir/web-development" target="_blank" style="color:black">GitHub</a></u>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                Accomplished a Java-based project utilizing Linked Lists to keep information about stored items
                                and make operations (sort, search, fetch, etc.)
                                    ~ <u><a href="https://github.com/dtemir/college-courses-CS" target="_blank" style="color:black">GitHub</a></u>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <strong>Education:</strong> <br />

                        <strong>Bachelor of Science:</strong> University of Illinois At Springfield - Expected in 05/2023 <br />
                        <strong>Springfield, IL</strong>
                        <br />
                        ◦ Major in Computer Science <br />
                        ◦ Minor in Mathematics <br />
                        ◦ Full-ride Scholarship Recipient <br />
                        ◦ Dean's List Honoree Fall 19' & Spring 20', 4.0 GPA <br />
                        ◦ Completed coursework in Programming Concepts I, Concepts II & Discrete Structures
                        <br />

                        <strong>High School Diploma:</strong> Nazarbayev Intellectual School of Physics and Mathematics  - 05/2019 <br />
                        <strong>Astana, Kazakhstan</strong>
                        <br /><br />
                    </li>
                    <li>
                        <strong>Activities and Honors:</strong> <br />
                        <strong>Member</strong>, Capital Honors Program <br />
                        <strong>Mentor</strong> to three freshmen, CAP Peer Mentorship <br />
                        ◦ Helped freshmen adjust to college by providing necessary advice <br />
                        ◦ Conducted a team training on a vital issue of developing cultural sensitivity <br />
                        ◦ Developed a program on relaxation for freshmen as a part of the team <br />
                        <strong>Tutor</strong> to several freshmen, CAP Peer Tutoring <br />
                        ◦ Provided help to students in Writing classes <br />
                        ◦ Observed experienced tutors in conducting sessions <br />
                        <strong>Published</strong> in the CAP Journal ~
                        <u><a href="https://www.uis.edu/caphonors/continuum/volume-7-spring-2020/" target="_blank" style="color:black">See</a></u>
                        <br /> <br />
                    </li>
                    <li>
                        <strong>Work Experience:</strong> <br />
                        <strong>Accessibility Student Worker</strong>, 09/2020 - Current <br />
                        Center for Online Learning, Research and Service (COLRs) <br />
                        ◦ Captioned class lectures using YouTube Studio <br />
                        ◦ Maintained PDF files accessible using Adobe Acrobat <br />
                        ◦ Worked on Microsoft Words and Power Points to make accessible to students with disabilities
                    </li>
                </ul>
                </p>


                <p class="text-muted"></p>
            </div>
            </div>

      </div>
    </div>

    </body>
{% endblock content %}

