{% extends 'blog/nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Add Post {% endblock %}
{% block page %} Add Post {% endblock %}
{% block link %} <a href="{% url 'blog:add_post' %}">Add Post</a>  {% endblock %}
{% block content %}
    <body>
        <div class="container align-items-center">
        <div class="col-md-10 card mx-auto mt-3 ">
          <div class="card-body">
              {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                  <h1>Add Post</h1>
                  <form method="POST" style="margin-top: 1.3em;">
                  {% csrf_token %}
                      {{ form|crispy }}
                      {{ form.media }}
                  <br /> <br />
                  <button type="submit" class="btn btn-dark">Publish</button>
                  </form>
                  <script>
                    var name = "{{ user.id }}";
                    document.getElementById("views.author").value = name;
                  </script>
                  {% else %}
                    <h3>Unfortunately, you do not have a permission</h3>
                    <p>Please go back to the homepage</p>
                  {% endif %}
              {% else %}
                <h3>You are not logged in</h3>
                <p>Please log in</p>
              {% endif %}
          </div>
        </div>
        </div>
    </body>
{% endblock content %}

