{% extends 'blog/nav.html' %}
{% load static %}
{% block content %}


    <script>
            function alert_visible()
            {
                $('.alert').alert()
            }
    </script>

    <body>
        <main>

            <div class="container align-items-center">
                <div class="row">
                {% if post_list %}
                    <div class="col-md-8 mt-3 mx-auto">
                        {% for post in post_list %}
                        <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-body">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }}</p>
                            <p class="card-text">{{ post.content|slice:":200" }}</p>
                            <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-dark">Read More</a>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-8 mt-3 mx-auto">
                        <div class="card mb-4 card-body">
                            <h2 class="card-body">No posts are available yet</h2>
                        </div>
                    </div>
                {% endif %}

                </div>
            </div>

            {% if is_paginated %}
              <nav aria-label="Page navigation container"></nav>
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
              </ul>
              </nav>
            {% endif %}


        </main>


    </body>
{% endblock content %}