{% extends 'blog/nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Delete Blog Post {% endblock %}
{% block page %} Delete Post: {{ post.title }}{% endblock %}
{% block link %}
<a href="{% url 'blog:post_detail' post.slug %}">Post Detail</a>
<a href="{% url 'blog:delete_post' post.slug %}">Delete Post</a>
{% endblock %}
{% block content %}
    <body>
        <div class="container align-items-center">
        <div class="col-md-8 card mx-auto mt-3 ">
          <div class="card-body">
              {% if user.is_authenticated %}
                  {% if user.id == post.author.id %}
                      <form method="POST" style="margin-top: 1.3em;">
                          {% csrf_token %}
                          <p>Are you sure?</p>
                          <button type="submit" class="btn btn-dark">Delete</button>
                      </form>
                  {% else %}
                      <h3>Unfortunately, this is not your post</h3>
                      Please go to the homepage
                  {% endif %}
              {% else %}
              <h3>You are not logged in</h3>
              Please log in
              {% endif %}

          </div>
        </div>
        </div>
    </body>
{% endblock content %}

