{% extends 'blog/nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Edit Blog Post {% endblock %}
{% block content %}
    <body>
        <div class="container align-items-center">
        <div class="col-md-8 card mx-auto mt-3 ">
          <div class="card-body">
              {% if user.is_authenticated %}
                  {% if user.id == post.author.id %}
                    <h1>Edit Post</h1>
                    <form method="POST" style="margin-top: 1.3em;">
                    {% csrf_token %}
                        {{ form|crispy }}
                        {{ form.media}}

                    <button type="submit" class="btn btn-dark">Update</button>
                    </form>
                  {% else %}
                      <h3>Unfortunately, this is not your post</h3>
                      Please go to the homepage
                  {% endif %}
              {% else %}
                <h3>You are not logged in</h3>
                Please log in
              {% endif %}
          </div>
        </div>
        </div>
    </body>
{% endblock content %}

