{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'greeting/img/favicon.png' %}" type="image/png">
        <title>
			{% block title %}
                Blog
            {% endblock %}
		</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'greeting/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/vendors/popup/magnific-popup.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'greeting/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'greeting/css/responsive.css' %}">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'greeting:index' %}"><img src="{% static 'greeting/img/logo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{% url 'greeting:index' %}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="about-us.html">Resume</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'blog:home' %}">Blog</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2>Blog</h2>
							<div class="page_link">
								<a href="{% url 'greeting:index'%}">Home</a>
								<a href="{% url 'blog:home' %}">Blog</a>
								{% block link %}
								<!-- 'blog details' goes here -->
								{% endblock link %}
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Blog Area =================-->
		<br />
		<br />
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
		<br />
		<br />
        <!--================Blog Area =================-->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>Are you looking for a skillful teammate to work on a project? If yes, make sure to contact me.</p>
        				</aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
						<aside class="f_widget ab_widget">
        					<div class="f_title">
								<h3>Commands</h3>
							</div>
						{% if user.is_authenticated %}
							<ul>
								<li><a href="{% url 'logout' %}">Logout</a></li>
								{% if user.is_superuser %}
								<li><a href="{% url 'blog:add_post' %}">Add Post</a></li>
								<li><a href="{% url 'blog:add_category' %}">Add Category</a></li>
							{% endif %}
							</ul>


						{% else %}
							<a href="{% url 'authorization:register' %}">Register | </a>
							<a href="{% url 'login' %}">Login</a>
						{% endif %}
						</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Let's talk</h3>
        					</div>
							<p><a href="mailto:damir@temir.dev">damir@temir.dev</a></p>
        				</aside>
        			</div>
        		</div>
				<br />
        	</div>
			<small style="padding-left: 10px;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small>

        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'greeting/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'greeting/js/popper.js' %}"></script>
        <script src="{% static 'greeting/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'greeting/js/stellar.js' %}"></script>
        <script src="{% static 'greeting/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'greeting/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'greeting/vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'greeting/js/mail-script.js' %}"></script>
        <script src="{% static 'greeting/js/theme.js' %}"></script>
    </body>
</html>