{% extends 'blog/nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page %} {{ post.title }} {% endblock %}

{% block link %}
    <a href="{% url 'blog:home' %}">Blog</a>
    <a href="{% url 'blog:post_detail' post.slug %}">Post Details</a>
{% endblock link %}

{% block content %}

    <body>

    <div class="container align-items-center">
        <div class="row no-gutters">
            <div class="card col-md-8 mb-3 mx-auto mt-3 ">
            {% if post.header_image %}
                <img src="{{ post.header_image.url }}" class="card-img-top" >
            {% endif %}
            <div class="card-body">
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}
                    {% if user.id == post.author.id and user.is_authenticated %} |
                        <a href="{% url 'blog:edit_post' post.slug %}">Edit</a> |
                        <a href="{% url 'blog:delete_post' post.slug %}">Delete</a>
                    {% endif %}
                </p>
                <p class="card-text ">{{ post.content | safe }}</p>
                <div style="position: absolute; bottom: 10px; right: 10px;" class="text-muted">
                    <div style="position: absolute; left:3px" id="disappear">{{ total_likes }}</div>
                    <br />
                    {% if not user.is_authenticated %}

                        <script>

                            likes_disapper = function() {
                                    $('#disappear').replaceWith('');
                                }

                            alert = function(){

                                likes_disapper();

                                $('#alert_placeholder').replaceWith(
                                    '<div class="alert alert-dark alert-dismissible fade show position-sticky" role="alert">' +
                                    'Please consider<a href="{% url "authorization:register" %}"> Registering </a> to leave a like' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="close">' +
                                    '<span aria-hidden="true">&times;</span> ' +
                                    '</button>' +
                                    '</div>');
                            }
                        </script>

                        <button type="submit" id="alert_placeholder" onclick="alert()" class="fa fa-heart-o"
                        style="padding: 0; border: none; background: none;">
                        </button>
                    {% else %}
                        <form action="{% url 'blog:like_post' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="post_slug" value="{{ post.slug }}" class="fa fa-heart-o"
                        style="padding: 0; border: none; background: none;">
                        </button>
                        {% else %}
                        <button type="submit" name="post_slug" value="{{ post.slug }}" class="fa fa-heart-o"
                        style="padding: 0; border: none; background: none;">
                        </button>
                        {% endif %}
                        </form>
                    {% endif %}
                </div>


                {% if post.updated_on > post.created_on %}
                <p class="text-muted">Updated: {{ post.updated_on }}</p>
                {% endif %}


            </div>
            </div>

        <div class="col-md-8 card mx-auto mt-3 ">
          <div class="card-body">
            <!-- comments -->
            {% if comments.count == 0 %}
            <h4>No posted comments. Be the first!</h4>
            {% else %}
            <h4>{{ comments.count }} comments</h4>
            {% endif %}

            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-8 card mx-auto mt-3 ">
          <div class="card-body">
            {% if new_comment %}
            {% if user.is_authenticated %}
            <div class="alert alert-success" role="alert">
              Your comment was published
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
              Your comment is awaiting moderation. If you wish to comment momentarily, please
                <a href="{% url 'authorization:register' %}">register</a>.
            </div>
            {% endif %}
            {% else %}
            <h4>Leave a comment</h4>
              {% if not user.is_authenticated %}
              <div class="alert alert-light" role="alert">
                Please note that you are not registered. Your comment will have to go through approval.
                  Consider
                  <a href="{% url 'authorization:register' %}" class="alert-link">registering</a> to skip moderation.
              </div>
              {% endif %}
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form | crispy}}
              {% csrf_token %}
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            {% if user.is_authenticated %}
            <script>
                var name = "{{ user.first_name }}";
                document.getElementById("name").value = name;
                var email = "{{ user.email }}";
                document.getElementById("email").value = email;
            </script>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    </body>
{% endblock content %}

