{% extends 'blog/nav.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Blog
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
        <link rel="stylesheer" type="text/css" href="{% static 'blog/cover.css' %}">
        <!-- This is for re-using the Navigation Bar -->
        <script src="//code.jquery.com/jquery.min.js"></script>
        <!-- end -->


    </head>
    <body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4 mt-3 left top">
            {% if post.header_image %}
            <img src="{{ post.header_image.url }}" class="card-img-top">
            {% endif %}
            <div class="card-body">

            <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
            <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
            <p class="card-text ">{{ post.content | safe }}</p>
            </div>
            </div>
            {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}

        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            <!-- comments -->
            {% if comments.count == 0 %}
            <h4>No posted comments. Be the first!</h4>
            {% else %}
            <h4>{{ comments.count }} comments</h4>
            {% endif %}

            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
              Your comment is awaiting moderation
            </div>
            {% else %}
            <h4>Leave a comment</h4>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form | crispy}}
              {% csrf_token %}
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
{% endblock content %}

