{% extends 'blog/nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block link %}
    <a href="#">Blog Details</a>
{% endblock link %}

{% block content %}

    <body>

    <div class="container align-items-center">
        <div class="row no-gutters">
            <div class="card col-md-8 mb-3 mx-auto mt-3 ">
            {% if post.header_image %}
                <img src="{{ post.header_image.url }}" class="card-img-top" >
            {% endif %}
            <div class="card-body">
                <h1 style="color:black;">{% block title %} {{ post.title }} {% endblock title %}</h1>
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}
                    {% if user.id == post.author.id and user.is_authenticated %} |
                        <a href="{% url 'blog:edit_post' post.slug %}">Edit</a> |
                        <a href="{% url 'blog:delete_post' post.slug %}">Delete</a>
                    {% endif %}
                </p>
                <p class="card-text ">{{ post.content | safe }}</p>
                <form action="{% url 'blog:like_post' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-danger btn-sm">
                        Unlike
                    </button>
                    {% else %}
                    <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-primary btn-sm">
                        Like
                    </button>
                    {% endif %}
                    - {{ total_likes }} Likes
                </form>
                {% if post.updated_on > post.created_on %}
                <p class="text-muted">Updated: {{ post.updated_on }}</p>
                {% endif %}
            </div>
            </div>

        <div class="col-md-8 card mx-auto mt-3 ">
          <div class="card-body">
            <!-- comments -->
            {% if comments.count == 0 %}
            <h4>No posted comments. Be the first!</h4>
            {% else %}
            <h4>{{ comments.count }} comments</h4>
            {% endif %}

            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-8 card mx-auto mt-3 ">
          <div class="card-body">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
              Your comment is awaiting moderation
            </div>
            {% else %}
            <h4>Leave a comment</h4>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form | crispy}}
              {% csrf_token %}
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    </body>
{% endblock content %}

