{% extends 'nav.html' %}
{% load static %}
{% block content %}


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Blog
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
        <link rel="stylesheer" type="text/css" href="{% static 'blog/cover.css' %}">
        <!-- This is for re-using the Navigation Bar -->
        <script src="//code.jquery.com/jquery.min.js"></script>
        <!-- end -->
        <script>
            function alert_visible()
            {
                $('.alert').alert()
            }
        </script>


    </head>
    <body>


        <main class="containter">

            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                <strong>Note: </strong>The website is still under construction.
                Features to be implemented: Cover Page, Blog Page, and World Map in Travelling.
                <form onsubmit="alert_visible(); return false;">
                    <button type="submit" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                </form>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 mt-3 left">
                        {% for post in post_list %}
                        <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-body">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }}</p>
                            <p class="card-text">{{ post.content|slice:":200" }}</p>
                            <a href="{% url 'post_detail' post.slug %}" class="btn btn-dark">Read More</a>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
{% endblock content %}