<!doctype html>
<html lang="en">
  <head>
    <title>Homepage</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="../../static/blog/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../../static/blog/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="index.html">Damir Temir</a>
        <a class="nav-link" href="../blog/blog.html">Blog</a>
        <a class="nav-link" href="resume.html">Resume</a>
        <a class="nav-link" href="projects.html">Projects</a>
        <a class="nav-link" href="art.html">Artwork</a>
        <a class="nav-link" href="travel.html">Travelling</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Looking for an internship!</h1>
    <p class="lead" style="allign:left;">My name is Damir — I am a college student. 
    My dream is to become a Data Scientist of passion.
    Please see the page.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">See more</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>
</body>
</html>
