{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-3">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> This is a place for meaningful text
            <p>
        <p class="card-text"></p>
        <a href=""
           class="btn btn-danger">See more</a>
    </div>
</div>
</div>

{% endblock sidebar %}